@import '../../../styles/variables';
.container {
	grid-area: autocomplete;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 1rem;
	max-height: 18rem;
	overflow: auto;
	padding: 1rem;
}

.items {
	border-radius: 0.5rem;
	z-index: 1;
	list-style: none;
  width: 18.75rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  
}

.item {
  font-size: 0.6rem;
  width: 100%;
	padding: 0.5rem;
	cursor: pointer;
	background-color: $white;
	&:hover {
		background-color: $semiWhite;
	}
}
