@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Montserrat:wght@100;200;300;500;600&display=swap');
@import './variables';
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

body {
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url(../assets/img/bg2.jpg) no-repeat center center fixed;
	-moz-background-size:cover;
	background-size: cover;
	height: 100%;
	width: 100%;
}
