@import '../../../styles/variables';
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2rem;
    height: 10%;
}
.icon{
    margin-right: 1rem;
    font-size: 3rem;
    color: white;
    text-shadow: $text-shadow;
}
.title{
    font-size: 3rem;
    color:white;
    text-shadow: $text-shadow;
    
}