@import '../../../styles/variables';
.container{
    grid-area: display;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    flex-direction: column;
    text-shadow: $text-shadow;
}
.buttons{
    color:$text-color;
}