.footer{
    text-align: center;
    margin-top:2rem;
    height:10%;
    color: white;
    font-size: 0.7rem;
    padding: 0.5rem;;
}

.link{
    text-decoration: none;
    padding-left:0.4rem;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}